#### war-cli config file ####

#Path to Composer.phar File
global_composer_path="/usr/local/bin/composer"

#Global Project Options
app_slug=$(basename $(pwd))
temp_branch="temp"
framework_repo="origin"
framework_branch="master"

#Deploy Config Options
commit_message="Pre-ship commit"
deploy_from_branch="master"
deploy_remote="prod"
force_push=""
ng_build=""
prefix_path="wordpress"
remote_deploy_branch="master"
temp_deploy_branch="shipit"

#Update Options
update_include="war.sh .gitignore wordpress/.gitignore"
