##### WAR Cli Config #####
angular_build=false
app_slug="war-framework"
commit_message=""
deploy_from_local_branch="master"
deploy_to_remote_branch="master"
deploy_to_remote_repo="prod"
global_composer_path="/usr/local/bin/composer"
force_push=false
prefix_path="wordpress"
temp_branch="temp"
update_include="war.sh docker-composer.yml .gitignore wordpress/.gitignore"
war_framework_repo="origin"
war_framework_branch="dev"
