#### war-cli config file ####

#Path to Composer.phar File
global_composer_path="/usr/local/bin/composer"

#Global Project Options
app_name="my-app"

#Deploy Config Options
commit_message="Pre-ship commit"
deploy_from_branch="master"
deploy_remote="prod"
force_push=
ng_build=0
prefix_path="wordpress"
remote_deploy_branch="master"
temp_deploy_branch="shipit"
